* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background-color: #03193a;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: rgb(114, 49, 96);
    color: rgb(21, 21, 24);
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(54, 17, 38);
  }
  
  /* Style the topnav links */
  .topnav a {
   
    display: block;
    color: #a387e4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }
 
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgb(85, 67, 247);
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #03193a;
    padding-left: 20px;
  }
  
  .img-rounded {
   
    
  
      border-style: none;
      width: 200px;
      height: 150px;
     
      left:0;
      top:0;
    
  }
 
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(193, 158, 240);
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(49, 3, 3);
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }